[submodule "ThirdParty/delphi-jose-jwt"]
	path = ThirdParty/delphi-jose-jwt
	url = https://github.com/paolo-rossi/delphi-jose-jwt.git
[submodule "ThirdParty/Delphi-Mocks"]
	path = ThirdParty/Delphi-Mocks
	url = https://github.com/VSoftTechnologies/Delphi-Mocks.git
