@LayoutPage layouts/application

<div class="mx-auto max-w-7xl">
  <div class="border-b border-gray-200 pb-5 dark:border-white/10">
    <h1 class="text-base/7 font-semibold text-gray-900 dark:text-white">Users</h1>
    <p class="mt-1 text-sm/6 text-gray-500 dark:text-gray-400">
      Select a user to view their account information.
    </p>
  </div>

  <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-xs outline-1 outline-gray-300 sm:rounded-xl mt-6">
    @Foreach(var user in users) {
        <li class="relative flex justify-between gap-x-6 px-4 py-6 hover:bg-gray-50 sm:px-6">
          <div class="flex min-w-0 gap-x-4 ml-2">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-emerald-100 text-lg font-semibold text-emerald-700 dark:bg-emerald-500/20 dark:text-emerald-300">
                @user.UserName
            </div>
            <div class="min-w-0 flex-auto">
              <p class="text-sm/6 font-semibold text-gray-900">
                <a href="@page.BasePath/users/@user.Id">
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  @user.RealName
                </a>
              </p>
              <p class="mt-1 flex text-xs/5 text-gray-500">
                @user.UserName - &nbsp; <span class="uppercase">@user.Lang</span>
              </p>
            </div>
          </div>
          <div class="flex shrink-0 items-center gap-x-4">
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              @if (user.Is_Active) {
                <span class="inline-flex shrink-0 items-center rounded-md bg-emerald-50 
                            px-2 py-1 text-xs font-medium text-emerald-700 ring-1 
                            ring-emerald-600/20 ring-inset dark:bg-emerald-500/10 
                            dark:text-emerald-400"
                >
                  Active
                </span>
              } @else {
                <span class="inline-flex shrink-0 items-center rounded-md bg-gray-50 
                            px-2 py-1 text-xs font-medium text-gray-600 ring-1 
                            ring-gray-500/10 ring-inset dark:bg-white/5
                             dark:text-gray-400"
                >
                  Inactive
                </span>
              }
            </div>
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 flex-none text-gray-400">
              <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
          </div>
        </li>
    }

  </ul>

</div>