<form name="loginForm" ng-submit="loginCtrl.login()" novalidate>

	<fieldset class="form-group">
		<input class="form-control" type="text" ng-model="loginCtrl.userName" title="User" placeholder="UserName" required>
	</fieldset>

	<fieldset class="form-group">		
		<input class="form-control" type="password" ng-model="loginCtrl.password" title="Password" placeholder="Password" required>
	</fieldset>

	<fieldset class="form-group">
		<input type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary pull-right" value="Login" />
	</fieldset>
</form>
