<table class="table table-striped">
	<thead>
		<tr>
			<th>Item</th>
			<th>Actions</th>
		</tr>
	</thead>				
	<tbody>
	<tr ng-repeat="item in todo.items|orderBy: 'Text' ">
		<td>
<!--
			<span class="todo-owner">{{item.Owner}}</span>
			<span class="todo-ID">{{item.ID}}</span>
-->
			<div class="todo-text">{{item.Text}}</div>
		</td>
		<td>					

			<button ng-click="todo.editItem(item)">
				<span class="glyphicon glyphicon-edit"></span>
				Edit
			</button>

			<button ng-click="todo.deleteItem(item)">
				<span class="glyphicon glyphicon-minus"></span>
				Delete
			</button>

		</td>
	</tr>
	</tbody>
</table>

<div class="row" ng-show="todo.isEditing">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<edit-item-form></edit-item-form>
	</div>
</div>

<div class="row" ng-show="todo.canInsert">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<add-item-form></add-item-form>
	</div>
</div>

<button ng-click="todo.getAll()">
	<span class="glyphicon glyphicon-refresh"></span>
	Refresh
</button>
